{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}

<h2>{% trans "Bienvenido, " %}{{ user.username }}</h2>

<!-- Comprobacion del tipo de usuario autenticado -->
{% if user.is_superuser %}
    <strong>{% trans "¡Eres el superusuario!" %}</strong> {% trans "Tienes acceso total a la administración del sitio." %}
{% else %}
    <p>{% trans "Esta es tu página de perfil. Aquí puedes ver tus detalles." %}</p>
{% endif %}

<!-- Mostrar mensajes -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p><strong>{% trans "Usuario:" %}</strong> {{ user.username }}</p>
<p><strong>{% trans "Correo electrónico:" %}</strong> {{ user.email }}</p>

<!-- Enlace al listado de libros -->
<p><a href="{% url 'gestion_libros:libro_list' %}" class="btn btn-primary">{% trans "Ver listado de libros" %}</a></p>

{% if user.is_superuser %}
<!-- Enlace a las estadísticas de libros -->
<p><a href="{% url 'gestion_libros:libro_estadistics' %}" class="btn btn-primary">{% trans "Ver estadísticas de libros" %}</a></p>
{% endif %}

<!-- Botón de logout -->
<form action="{% url 'users:logout' %}" method="post"> 
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Cerrar sesión" %}</button>
</form>

{% endblock %}
