{% extends "base/base.html" %}

{% load i18n %}

{% block content %}

<h2>{% trans "Registrarse" %}</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}  <!-- Para errores generales del formulario -->
    
    <!-- Recorre los campos y los renderiza sin mostrar los textos de ayuda -->
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}  <!-- Renderiza el campo -->
            {{ field.errors }}  <!-- Muestra errores específicos del campo -->
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">{% trans "Registrarse" %}</button>
</form>

{% endblock %}
