{% extends "base/base.html" %}

{% load i18n %}

{% block content %}

<h2>{% trans "Contacto" %}</h2>  

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{% if message.tags %} {{ message.tags }} {% endif %}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="message">{% trans "Mensaje:" %}</label>  
    <textarea id="message" name="message"></textarea>
    <button type="submit">{% trans "Enviar" %}</button>  
</form>

{% endblock %}
