{% extends 'base/base.html' %}

{% load i18n %}

{% block title %}{% if libro.id %}{% trans "Editar Libro" %}{% else %}{% trans "Agregar Libro" %}{% endif %}{% endblock %}

{% block content %}

<h2>{% if libro.id %}{% trans "Editar Libro" %}{% else %}{% trans "Agregar Libro" %}{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">{% trans "Guardar" %}</button>
    <a href="{% url 'gestion_libros:libro_list' %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
</form>

{% endblock %}
